* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(125, 125, 125, 0.764),
      rgba(96, 96, 96, 0.3)
    ),
    url(bg-1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2px 6px;
  align-items: center;
  justify-content: space-between;
}
.logo-image {
  padding-top: 10px;
  padding-left: 20px;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  text-decoration: none;
  padding-right: 40px;
}
.nav-links ul li a {
  font-family: "Urbanist", sans-serif;
  color: black;
  text-decoration: 0;
  font-size: 17px;
}
.nav-links ul li a:hover {
  color: #fff;
  transition: 0.7s;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.emergency-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 68vh;
}
.contact h2 {
  font-size: 40px;
  color: #ededed;
  text-align: center;
  margin-bottom: 10px;
}
.contact form {
  width: 600px;
  text-align: center;
}
form .input-box {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.field .item {
  width: 100%;
  padding: 20px;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  margin: 12px 0;
}
.field .item::placeholder {
  color: rgb(114, 114, 114);
}
.input-box .input-field {
  width: 50%;
}
form .textarea-field .item {
  resize: none;
}
form button {
  padding: 12px 32px;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px #ededed;
  cursor: pointer;
  margin-top: 20px;
}
form button:hover {
  box-shadow: none;
  transition: ease 1s;
}

.field .error-txt {
  font-size: 12px;
  color: #131313;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
  text-align: left;
}
form .textarea-field .error-txt {
  margin-top: -10px;
}
