* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  scroll-behavior: smooth;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(125, 125, 125, 0.764),
      rgba(96, 96, 96, 0.3)
    ),
    url(bg-1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2px 6px;
  align-items: center;
  justify-content: space-between;
}
.logo-image {
  padding-top: 10px;
  padding-left: 20px;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  text-decoration: none;
  padding-right: 40px;
}
.nav-links ul li a {
  font-family: "Urbanist", sans-serif;
  color: black;
  text-decoration: 0;
  font-size: 17px;
}
.nav-links ul li a:hover {
  color: #fff;
  transition: 0.7s;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.texts {
  font-size: larger;
  text-align: center;
}
.HOSPITAL-PICTURE {
  padding-left: 80px;
  padding-top: 30px;
}
.HOSPITAL-PICTURE img {
  border-radius: 20px;
}
.texts h1 {
  font-size: 40px;
  color: #232323;
}
.texts span {
  background-color: #fff;
  padding: 2px;
  font-size: 15px;
  border-radius: 50px;
  padding-left: 5px;
  padding-right: 5px;
}
.texts p {
  padding-top: 20px;
  padding-right: 5px;
}
.about p {
  color: rgb(23, 22, 22);
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 30px;
  font-weight: 500;
}
.about h1 {
  color: beige;
  padding-top: 60px;
  font-weight: 100;
  text-align: center;
}

.page-2 {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(92, 92, 92, 0.604),
      rgba(222, 222, 222, 0.3)
    ),
    url(page-2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.page-2 h1 {
  text-align: center;
  font-weight: 60;
  font-size: 40px;
  padding-top: 20px;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.container-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 240px;
  gap: 30px;
  padding-top: 80px;
}
.card-article {
  position: relative;
  overflow: hidden;
}
.card-img {
  border-radius: 1.5rem;
  width: 350px;
}
.card-data {
  width: 280px;
  background-color: #ffffffcb;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1.5rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}
.card-description {
  display: block;
  font-size: small;
  margin-bottom: 0.25rem;
  line-height: 8px;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.75rem;
}
.card-button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--first-color);
}

.card-button:hover {
  text-decoration: underline;
}
.card-article:hover .card-data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card-article:hover {
  animation: remove-overflow 2s forwards;
}

.card-article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data {
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}
@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}
.page-2 h3 {
  text-align: center;
  padding-top: 70px;
  font-size: 25px;
  color: #3e3e3e;
  font-weight: 100;
  padding-bottom: 30px;
}
.view-button {
  padding-left: 625px;
  padding-bottom: 30px;
}

.page-2 button {
  background: #3e3e3e;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
}

.RECENT {
  padding: 110px 85px;
}

.RECENT .header-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  background-color: #7474743f;
  padding: 30px;
}

.RECENT .header-1 button {
  background-color: #ff0000;
  padding: 10px 20px;
  color: #1c1c1c;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  border: none;
  border-radius: 10px;
}

.RECENT .header-1 button i {
  font-size: 26px;
}

.RECENT .recent-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}

.RECENT .recent-items .item {
  width: 30%;
  background-color: #808080bd;
  border-radius: 10px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  padding-bottom: 30px;
}

.RECENT .recent-items .item:hover {
  border-color: #000;
}

.RECENT .recent-items .item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 20px 20px;
}

.RECENT .recent-items .item .info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 32px 42px;
}

.RECENT .recent-items .item .info p {
  font-size: 13px;
}

.RECENT .recent-items .item .info a {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #5e3bee;
}

.RECENT .recent-items .item .info a i {
  margin-left: 2px;
  font-size: 16px;
}
.RECENT h5 {
  padding-bottom: 20px;
  font-weight: 100;
}
.recent h3 {
  font-weight: 200;
}

.feedback {
  padding: 110px 85px;
}

.feedback .customers {
  margin-top: 50px;
  display: flex;
  gap: 10px;
}

.feedback .customers .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #515151;
  border-radius: 10px;
  padding: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #41414150;
  color: #fff;
  gap: 40px;
}

.feedback .customers .item .rating {
  color: #000;
  font-size: 22px;
}

.feedback .customers .item:hover {
  border-color: #fff;
}

.feedback .customers .item p {
  line-height: 22px;
  font-size: 14px;
}

.feedback .customers .item .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feedback .customers .item .user img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback .customers .item .user h5 {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 3px;
}

.feedback .customers .item .user p {
  font-size: 12px;
}

footer {
  width: 100%;
  bottom: 0;
  background: linear-gradient(to right, #ffffff, #585858df);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  line-height: 20px;
  font-size: 12px;
}

footer p {
  color: #00000054;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-top: 10px;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding-top: 3px;
  padding-left: 10px;
}
.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 25%;
}
.col p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: fit-content;
  position: relative;
}
.col h2 {
  font-family: impact;
  font-weight: 200;
}
.col h4 {
  font-family: impact;
  font-size: 14px;
}
.email {
  width: fit-content;
  border-bottom: 1px solid #ccc;

  margin-bottom: 10px;
}
.col h3 {
  font-family: impact;
  letter-spacing: 1px;
}
ul li {
  list-style: none;
  margin-bottom: 10px;
}
ul li a {
  text-decoration: none;
  color: #666666;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form .fa-solid {
  font-size: 18px;
  margin-right: 10px;
}
form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.fa-arrow-right {
  color: #fff;
}
.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  margin-right: 15px;
  cursor: pointer;
  background: #fff;
}
hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.Copyright {
  text-align: center;
}
.underline {
  width: 15%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: relative;
  top: 25%;
  left: 0;
  margin-top: 6px;
  margin-bottom: 10px;
  overflow: hidden;
}
.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100px;
  }
}
